<div class="search-form mt-4">
     <form method="POST">
            <div class="form-group">
            <label for="exampleInputEmail1">Dia chi</label>
            <input type="text" class="form-control"  name="q" placeholder="Nhap dia chi...">
        <button type="submit" class="btn btn-primary">Tim kiem</button>                                               
    </form> 
</div>