<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Tu khoa</label>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhap tu khoa">
        </div>
        <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
</div>