<form method="post" action="/site/home">
  <div class="form-group">
    <label for="test">Email address</label>
    <input type="text" class="form-control" name="test" placeholder="Enter email">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>